*{
    margin: 0;
    padding: 0;
    box: border-box;
}

body{
    background-color: #000000;
  
}

#menususpenso{
   width: 100%;
    height: auto;
    background-image: linear-gradient(#000000,#141414);
    padding: 5px;
    display: flex;
    flex-direction: row;
    box-shadow: 0px  0px 10px 0px #030303 ;
 
    align-items: center;
    justify-content:space-around;
    position: fixed;
   z-index: 3;
    

}

#logo{
width: 30vw;
display: flex;
flex-direction: row;
flex-wrap: nowrap;
align-items: center;

}

#logo img{
    width: 50px;
}

#botao_menu{
    width: 35px;
    height: 35px;
    background-color: #000;
    display:none;
    color: #fff;
}


.francois-one-regular {
    font-family: "Francois One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  h1{
    font-family: "Francois One", sans-serif;
    color: #fff;
    font-size: 30pt;
  }

  
  p {
    font-family: "Francois One", sans-serif;
    color: #fff;
    font-size: 10pt;


     }

#textoprot{
    font-family:Arial, Helvetica, sans-serif;
       padding: 30px;
        color: #ffffff;
        font-size: 12pt;
    
    
        
}

#topo{
    width: 100%;
    height:90vh;
 padding-top: 8px;
   background-color: #000000;
    background-image: url('../img/fundotop.jpg');
    background-repeat: no-repeat;
    background-size:cover;
   
    background-attachment: fixed;
    background-position: center;
    text-align: center;
    display: flex;
   flex-direction: row;
    flex-wrap: wrap;
   align-items: center;
       
}
#brand{
    width: 90%;
    
   

   
}
#svg1{
    width: 400px;
margin-left: auto;
margin-right: auto;
margin-top: 30px;
opacity: 90%;
fill:none;
stroke: #ff6600;
stroke-width:0.2;
}

#svg1:hover{
animation: sobedesce 6s linear infinite;
}

@keyframes sobedesce {
    from{transform:rotateY(0deg);}
  to{transform:rotateY(360deg);}
}

.devname{
    font-family: "Francois One", sans-serif;
    color: #fff;
    font-size: xx-large;
  }

#brand p{
    color:#fff;
    font-size:medium;
    
}




@keyframes splash {
    from{
       
        opacity: 0;
        transform: scale(125%);
    }
    to{
        
        opacity: 100%;
        transform: scale(100%);
    }
}


@keyframes logoName {
    from{
        margin-right: -500px;
        opacity: 0;
    }
    to{
        margin-right:0px;
        opacity: 100%;
    }
}



#links{
    margin-right: 15%;
    display: flex;
  
    
}

#links a {
    margin-left: 5px;
    margin-right: 5px;
   
    border-radius: 5px;
    padding:5px;
   
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: none;
    color:#fff;
    font-weight: bold;
    transition:color 0.5s;
    
}
#links a:hover {
   color:#050505;
   font-weight: bold;

}

@keyframes animaMenu {
    from{
        opacity: 0;
    }
    to{
        opacity: 100%;
    }
    
}

#graficModel{
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    opacity: 0.95;
    position:absolute;
    display:none;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    z-index: 2;
}
#designBig{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    padding-top: 35px;
    background-color: #000000;
   background-image: linear-gradient(#000, rgb(58, 58, 58));
    background-image: cross-fade();
    background-size: cover;
    align-items: center;
    
    
    

}
#designBig .cards{
    display: flex;
    flex-direction: column;
   
    width: 300px;
    height: 300px;
  padding: 10px;
  animation: animaApp ;
   animation-timeline: view();
    
}


@keyframes animaApp {
    0%{
        opacity: 0;
       margin-right: -200px;
        
    }
    50%{
        opacity: 0.5;
        margin-right: -25px;
      
        
    }
    100%{
        opacity: 1;
        margin-right: 0px;
        
    }
}

#designBig img{
    width: 300px;
    height: 150px;  
    
}
#designBig p{
    
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:medium;
}

#designBig li{
   margin-left: 25px;
    font-family: Arial, Helvetica, sans-serif;
    
    color: #fff;
    font-size:medium;
}

#designer{
    width: 100%;
    height:max-content;
    background-color: #180202;
    background-image: url('../img/fundo_designer.svg');
    background-repeat:repeat;
    background-size:cover;
    background-attachment: fixed;
    display: flex;
    flex-direction:column;
    flex-wrap: nowrap;
    justify-content:space-around;
    align-items: center;
  
    
}

#designer  h1{
    color:#fff;
}

.tooltip{
    width: 90%;
    padding: 5px;
    background-color: #fc0404;
    display:none;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size:x-small;
    border-radius: 3px;
    box-shadow: 1px 1px 4px #000;
    float: right;
    z-index: 6;
}

#painelDesign1{
    width: 400px;
   
 
    display: flex;
    flex-direction: column;
   justify-content: center;
}

#painelDesign2{
    width: 70%;
  
   margin-top: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-around;
    padding-bottom: 20px;  
    
    
    
}

#painelDesign2 img{
   width: 30vw;
   
    animation: anima3d ;
    animation-timeline: view();
}

#painelDesign1 h1{
    margin-top: 40px;
   
}
#painelDesign1 p{
    font-size:medium;
  
}

@keyframes animaPainel {
    from{
    opacity: 0%;
    }
    to{
       opacity: 100%;
}

}

@keyframes tubIcoIlust {
    from{
        background-size: 100px;
    }
    to{
        background-size: 120px;
    }
    
}





/*#designGal {
    width: 400px;
    height: 40vh;   
   background-color: orange;
    padding: 6px;
    display: none;
    justify-content: space-around;
    flex-wrap: wrap;
}
*/


/*
.img-3d{
      width: 75%;
    height: 90%;
    margin-top: 15px;
    margin-bottom: 8px;
    border-radius: 5px;  
   margin-right: 10px;
}
*/


 


@keyframes anima3d {

    from{
        opacity: 0;
       transform: skew(20deg);
    }
    to {
        opacity: 100%;
        transform: skew(1deg);

    }
}

#sites {
    width: 100vw;
    height: auto;
    background-image: url('../img/foto.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
background-blend-mode: multiply;
    padding: 5px;
    background-color: #484646;
    display: flex;
    justify-content: center;
  
   
}
.links_sites {
    width: 50vw;

    
  
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    padding: 20px;
    padding-top: 50px;
    opacity: .9;

}

.links_sites a {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    text-decoration: none;
    margin-top: 20px;
    display: flex;
    align-items:center ;
    font-size: 14pt;

}

.links_sites img {
    width: 55px;
    height: 55px;
    background-color: #000;
    border-radius: 50%;
    margin-right: 5px;

}

footer{
    height: 50vh;
    background-color: #000;
    padding: 20px;
    color:#fff;
    font-family: "Francois One", sans-serif;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items:normal;
    justify-content:space-around;
}

#Endereco{
    width: 200px;
    padding: 5px;
  
}

footer h1  {
    
    font-size: large;
}

footer p  {
    
    font-size:small;
}

#redes{
    width: 15vw;
    height: 220px;
   
    display: flex;
    flex-direction:row;
    
}

#logoGith{
    width: 40px;
    height: 40px;
  
   
    
}

#logoGith img{
    width: 40px;
    background-color: #fff;
    border-radius: 50%;
}

#redes a{
    color: #fff;
    text-decoration: none;
    margin-left: 3px;
    margin-top: 10px;
    
}
#mapa iframe{
    display: flex;
    width: 30vw;
    height: 300px;
}
#assina{
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
    align-items: baseline;
}


@media (max-width: 800px) {
    #logo{
        width: 60vw;
       
        display:flex;
        flex-direction: row;
      
        
      
    }
    #menususpenso{
      
      flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
       width: 100vw;
        
        
    }

    
    #topo{
       
        flex-direction:column;       
        justify-content:space-around;
        height:40vh;
        align-items: center;
        background-size:cover;
       
       
    }
    #image-topo {
        width: 60vw;
    }
    
    #brand{
        width: max-content;
        margin-top: 50px;
        height: 30vh;
    }
 #svg1{
    width: 200px;

}

    #botao_menu{
        display:block;
        margin-right: 20px;
        border-radius: 4px;
        cursor: pointer;
        align-items: center;
      }

      #botao_menu img{
   width: 100%;
   
      }

      .devname{
        font-family: "Francois One", sans-serif;
        color: #fff;
        font-size: 20pt;
      }
    
    #brand p{
        width: 70vw;
        color:#fff;
        font-size: 12pt;
    }
    
      #links{
        display: none;
        width: 90%;
        flex-direction: column;       
        text-align: center;
       
       
      }

      #links a:hover{
        background-color: #000;
        color: #fff;
      }
      #designer{
       text-align: center;
    
       
        display: flex;
        flex-direction:column;
        flex-wrap: nowrap;
        justify-content:space-around;
        align-items: center;
      
        
    }
    #designBig{
        flex-direction: column;
    }

      #painelDesign2{
        flex-direction: column;
        height: auto;
        text-align: center;
       font-family: Arial, Helvetica, sans-serif;
      }

      #painelDesign2 img{
        width: 70vw;
        height: 30vhx;
        margin-left: auto;
        margin-right: auto;
        animation: anima3d ;
        animation-timeline: view();
    }

      #galerias{
       
        width: 80vw;
        height:auto;
        flex-direction: column; 
        justify-content:space-around;
        margin-left: 5px;
        padding-top: 5vh;      
       
      }

      #galerias p{
        width: 70vw;
        padding: 10px;
       
      }

      

      .item-3d{
        width: 100%;
        height:350px;
      }

      #sites {
        width: 100vw;
      }

      .links_sites {
        width: 70vw;
        height: max-content;
      }

      footer{
        
        flex-direction: column;
        margin-top: 30px;
      margin-bottom: 20px;
      }

      #mapa iframe{
        display:block;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 80vw;
      }

      #Endereco{
        width: 100%;
      }


  }

  
