*{
    margin: 0;
    padding: 0;
    box: border-box;
}

body{
    background-color: #000000;
  
}

#menususpenso{
   width: 100%;
    height: auto;
    background-image: linear-gradient(#c00303,#7b1010);
    padding: 5px;
    display: flex;
    box-shadow: 0px  0px 10px 0px #030303 ;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    position: fixed;
   z-index: 3;
    

}

#botao_menu{
    width: 35px;
    height: 35px;
    background-color: #7b1010;
    display:none;
    color: #fff;
}


.francois-one-regular {
    font-family: "Francois One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  h1{
    font-family: "Francois One", sans-serif;
    color: #fff;
    font-size: 30pt;
  }

  #tituloIlustra {
    width: 100%;
 
   text-align: center;
   
  
  }

  #tituloIlustra h1{
    color: #ffffff;
  }

  p {
    font-family: "Francois One", sans-serif;
    color: #fff;
    font-size: 10pt;

  }
#topo{
    width: 100%;
    height:max-content;
 padding-top: 50px;
   background-color: #000000;
    background-image: url('../img/fundotop.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    
    display: flex;
   flex-direction: row;
    flex-wrap: wrap;
    justify-content:baseline;
       
}
#brand{
    width: 40%;
    
    display: flex;
    flex-direction: column;
    justify-content:center;

    animation: logoName 2s;
}

#brand p{
    color:#ffb380ff;
}


#image-topo {
    width:45vw;
    height: 100%;
    

    
    -webkit-mask-image: url("../img/mask.png");
    -WEBKIT-mask-size:100%;
   // mask-image: url("mask,png");
    -webkit-mask-repeat: no-repeat;
   //mask-repeat: no-repeat;
   animation: splash 2s;
  
    
}

@keyframes splash {
    from{
       
        opacity: 0;
        transform: scale(125%);
    }
    to{
        
        opacity: 100%;
        transform: scale(100%);
    }
}


@keyframes logoName {
    from{
        margin-right: -500px;
        opacity: 0;
    }
    to{
        margin-right:0px;
        opacity: 100%;
    }
}



#links{
    margin-right: 15%;
    display: flex;
  
    
}

#links a {
    margin-left: 5px;
    margin-right: 5px;
   
    border-radius: 5px;
    padding:5px;
   
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: none;
    color:#fff;
    font-weight: bold;
    transition:color 0.5s;
    
}
#links a:hover {
   color:#050505;
   font-weight: bold;

}

@keyframes animaMenu {
    from{
        opacity: 0;
    }
    to{
        opacity: 100%;
    }
    
}

#graficModel{
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    opacity: 0.95;
    position:absolute;
    display:none;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    z-index: 2;
}
#designBig{
    width: 50vw;
    height: 90vh;
    background-color: #484646;
    

}

#designer{
    width: 100%;
    height:max-content;
    background-color: #7b1010;
    background-image: url('../img/fundo_designer.svg');
    background-repeat:repeat;
    background-size:cover;
    background-attachment: fixed;
    display: flex;
    flex-direction:column;
    flex-wrap: nowrap;
    justify-content:space-around;
    align-items: center;
  
    
}

.tooltip{
    width: 90%;
    padding: 5px;
    background-color: #fc0404;
    display:none;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size:x-small;
    border-radius: 3px;
    box-shadow: 1px 1px 4px #000;
    float: right;
    z-index: 6;
}

#painelDesign1{
    width: 400px;
    height:auto;
 
    display: flex;
    flex-direction: column;
   justify-content: center;
}

#painelDesign2{
    width: 70%;
    max-height:fit-content;
   margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:safe;
    
    
}

#painelDesign1 h1{
    margin-top: 60px;
   
}
#painelDesign1 p{
    font-size:medium;
  
}


.pecas{
    width: 200px;
    height: 200px;
    background-color: transparent;
    border-radius: 6px;
    padding-bottom: 4px;
    margin: 5px;
    background-size:contain;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.5s ease-in;

}


.pecas:hover {

    transform: scale(150%);
    background-color: #7a7575;
    cursor: pointer;
    box-shadow: 3px 3px 5px #000000;
  
    
}
.pecas:hover .tooltip{
    display: flex;
}







#galerias{
    width: 100%;
    height:90vh;
   background-color: #000000;
  padding-bottom: 50px;
    display: flex;
flex-direction: row;
justify-content:space-around;
align-items: center;
    
}


#ilustraGal{
    width: 400px;
    height: 40vh;
 
   
    padding: 6px;
    display:flex;
    justify-content:space-between;
    flex-wrap: wrap;
}
.tub-ilustra{
    width: 110px;
    height: 110px;
    background-color: #fff;
    margin: 9px;
    border-radius: 8px;
}

.tub-ilustra:hover{
    
  rotate: 360deg;
  transition: rotate ease ;
  transition-duration: 2s;
 
   
}

#ilust1{
    background-image: url("../img/TABAGISMO.png") ;
    background-size: cover;
    background-repeat: no-repeat;
}

#ilust2{
    background-image: url("../img/havai.jpg") ;
    background-size:cover;
    background-repeat: no-repeat;
   
}

#ilust3{
    background-image: url("../img/grande_Otelo_Oscarito.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
}

#ilust4{
    background-image: url("../img/vacina1.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
}

#ilust5{
    background-image: url("../img/diaristas2.png") ;
    background-size: cover;
    background-repeat: no-repeat;
}

#ilust6{
    background-image: url("../img/Manuela_Hair.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
}

#painelIlustra{
    width: 40vw;
    height: 60vh;
    display: block;
  border-radius: 20px;
    background-color:transparent;
    background-image: url('../img/tub_ilustra.svg');
    background-repeat: no-repeat;
    background-position: center;
animation: tubIcoIlust 2s infinite;
   transition: 1s ease-in;
   
}

@keyframes animaIlustra {
    from{
        margin-left: -500px;
        opacity: 0;
    }
    to{
        margin-left: 0;
        opacity: 100%;
        
    }
    
}

@keyframes animaPainel {
    from{
    opacity: 0%;
    }
    to{
       opacity: 100%;
}

}

@keyframes tubIcoIlust {
    from{
        background-size: 100px;
    }
    to{
        background-size: 120px;
    }
    
}



#gal3d { 
   
     background-image: url("../img/fundo3d.png");
     background-repeat: no-repeat;
     background-size:cover;
     background-attachment: fixed;
     padding-top: 120px;
     display: flex;
     flex-direction:row;
     flex-wrap: wrap;
     align-items: center;
     justify-content: center;
     
 
 
}

/*#designGal {
    width: 400px;
    height: 40vh;   
   background-color: orange;
    padding: 6px;
    display: none;
    justify-content: space-around;
    flex-wrap: wrap;
}
*/

#titulo3d {
 width: 100%;
 height: 60px;
  margin-top: 60px;
 position: absolute;
 text-align: center;
   
}

.item-3d {
    width: 30vw;
    height: 60vh;
 
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
  margin: 25px;
  background-color: #000 ;
  
  box-shadow: 3px 3px 6px #000;
  border-radius: 10px;
     color:#fff;
    box-sizing:border-box;
    display: flex;
    flex-direction:column;
    flex-wrap: nowrap;
    overflow:hidden;
    justify-content:end;
    align-items: center;
   animation: anima3d ease;
   animation-duration: 2s;  
   animation-timeline: view();  
   animation-range: 0% 50%;
}
/*
.img-3d{
      width: 75%;
    height: 90%;
    margin-top: 15px;
    margin-bottom: 8px;
    border-radius: 5px;  
   margin-right: 10px;
}
*/

.item-3d h1,p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.item-3d h1{
font-size: 20pt;
margin: 5px;
}

.item-3d p{
    font-size: 10pt;
    margin:5px;
   
    }

.texto3d{
    width: 100%;
    height: auto ;
   
    background-color: #000000;
    opacity: 0.7;
    
    
   
}    


@keyframes anima3d {

    from{
        opacity: 0;
       transform: skew(20deg);
    }
    to {
        opacity: 100%;
        transform: skew(1deg);

    }
}

#sites {
    width: 100vw;
    height: 70vh;
    background-image: url('../img/foto.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
    padding: 5px;
    background-color: #484646;
    display: flex;
    justify-content: center;
  
   
}
.links_sites {
    width: 50vw;
    
    background-color: #000000;
    background-image: linear-gradient(45deg,#000,rgba(156, 6, 18, 0.933),#635151);
    border: 1px solid #000;
    box-shadow: 2px 2px 3px #000;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    padding: 20px;
    padding-top: 50px;
    opacity: .9;

}

.links_sites a {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    text-decoration: none;
    margin-top: 20px;
    display: flex;
    align-items:center ;

}

.links_sites img {
    width: 55px;
    height: 55px;
    
    border-radius: 50%;
    margin-right: 5px;

}

footer{
    height: 400px;
    background-color: #000;
    padding: 20px;
    color:#fff;
    font-family: "Francois One", sans-serif;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#Endereco{
    width: 200px;
    padding: 5px;
  
}

footer h1  {
    
    font-size: large;
}

footer p  {
    
    font-size:small;
}

#redes{
    width: 15vw;
    height: 220px;
   
    display: flex;
    flex-direction:row;
    
}

#logoGith{
    width: 40px;
    height: 40px;
  
   
    
}

#logoGith img{
    width: 40px;
    background-color: #fff;
    border-radius: 50%;
}

#redes a{
    color: #fff;
    text-decoration: none;
    margin-left: 3px;
    margin-top: 10px;
    
}
#mapa{
    display: flex;
}


@media (max-width: 800px) {
    #logo{
        width: 93%;
       
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    #menususpenso{
      
      flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        width:100vw;
        
        
    }

    
    #topo{
        flex-direction:column;       
        justify-content:space-around;
        height:max-content;
        align-items: center;
    }
    #image-topo {
        width: 60vw;
    }
    
    #brand{
        width: max-content;
    }

    #botao_menu{
        display:block;
        margin-right: 20px;
        border-radius: 4px;
        cursor: pointer;
        align-items: center;
      }

      #botao_menu img{
   width: 100%;
   
      }
    
      #links{
        display: none;
        width: 90%;
        flex-direction: column;       
        text-align: center;
       
       
      }

      #links a:hover{
        background-color: #000;
        color: #fff;
      }

      .pecas{
        width: 100%;
      }

      #galerias{
       
        width: 80vw;
        height:auto;
        flex-direction: column; 
        justify-content:space-around;
        margin-left: 5px;
        padding-top: 5vh;      
       
      }

      #galerias p{
        width: 70vw;
        padding: 10px;
       
      }

      #ilustraGal{
        width: 90%;
        height: 300px;
        
      justify-content:center;
        align-items: center;

      }

      .tub-ilustra{
        width: 75px;
        height: 75px;
        border-radius: 3px;
      
      }

      #painelIlustra{
        width: 70%;
        height:35vh;
        background-color:transparent;
      }
      #gal3d {
        width: 100vw;;
      }

      .item-3d{
        width: 100%;
        height:350px;
      }

      #sites {
        width: 100vw;
      }

      .links_sites {
        width: 70vw;
        height: max-content;
      }

      footer{
        
        flex-direction: column;
      }

      #mapa{
        display:none;
      }

      #Endereco{
        width: 100%;
      }


  }

  
